#container{
    width : 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.h1{
    display: flex;
    justify-self: flex-start;
}

#display{

    width: 160px;
    height: 40px;;
    border-style: solid;
    border-width: thin;
    border-color:black;
    background-color: aqua;
    justify-items: flex-end;
}
#buttons{

    display: flex;
    flex-direction: column;
    
}

.buttonRow{
    display: flex;
    justify-content: space-between;
}

button{
    width: 40px;
    height: 40px;
    border-style: solid;
    border-width: thin;
    border-color:black;
    background-color: aqua;
}


